form.wufoo {
  * {
    box-sizing: border-box;
  }

  li {
    label {
      display:      block;
      text-align:   left !important;
      float:        none !important;
      width:        100% !important;
    }

    div {
      &, input {
        width:  100% !important;

        &[type="checkbox"] {
          width:  initial !important;
        }
      }
    }

    fieldset {
      legend {
        width:        100% !important;
        text-align:   left !important;
      }
    }

    &.buttons {
      padding-left:   0px !important;

      div {
        margin:         0px !important;

        button {
          float:        none !important;
          margin-top:   20px;
        }
      }
    }
  }
}
