form.wufoo {
  * {
    box-sizing: border-box;
  }

  li {
    label {
      display:      block;
      text-align:   left !important;
      float:        none !important;
    }

    div {
      &, input {
        width:  100%;
      }
    }

    fieldset {
      legend {
        width:  100% !important;
      }
    }
  }
}
