form { 
  &.wufoo {
    width:  100%;

    * {
      box-sizing: border-box;
    }

    #header {
      display:  none;
    }

    li {
      width:  100% !important;

      span {
        @include inline-block;
        margin: 0;
        width:  49%;

        &:last-child {
          margin-left: 0.999999%;
        }
      }

      input[type="text"],
      input[type="password"],
      input[type="tel"],
      input[type="date"],
      input[type="datetime"],
      input[type="file"],
      input[type="image"],
      input[type="number"],
      input[type="url"],
      input[type="search"],
      textarea {
        width:  100% !important;
        border: 1px solid black;
      }

      input[type="submit"] {
        float:  right;
      }

      fieldset {
        border:   none;
        margin:   0;
        padding:  0;
      }
    }
  }
}
